# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/fe/node_modules
/fe/.pnp
/fe/.pnp.*
/fe/.yarn/*
!/fe/.yarn/patches
!/fe/.yarn/plugins
!/fe/.yarn/releases
!/fe/.yarn/versions

# testing
/fe/coverage

# next.js
/fe/.next/cache
/fe/out/


# misc
/fe/.DS_Storere
/fe/*.pem

# debug
/fe/npm-debug.log*
/fe/yarn-debug.log*
/fe/yarn-error.log*
/fe/.pnpm-debug.log*

# vercel
/fe/.vercel

# typescript
/fe/*.tsbuildinfo
/fe/next-env.d.ts

